[user]
   name = 
   email = 

[core]
   editor = vim
   excludesfile = ~/.gitignore_global
   autocrlf = input
   whitespace = trailing-space,space-before-tab
   pager = less -FRX
   compression = 9
   bigFileThreshold = 512m
   fsmonitor = true
   untrackedCache = true
   commitGraph = true

[color]
   ui = auto

[init]
   defaultBranch = main

[pull]
   rebase = true

[push]
   default = current
   followTags = true
   autoSetupRemote = true

[merge]
   tool = vimdiff
   conflictstyle = zdiff3
   ff = false

[diff]
   tool = vimdiff
   colorMoved = default
   algorithm = histogram
   mnemonicPrefix = true
   renames = copies

[alias]
   # Basic commands
   st = status
   co = checkout
   br = branch
   ci = commit
   cp = cherry-pick
   cl = clone
   sw = switch
   
   # Status & Diff
   sb = status -sb
   ds = diff --staged
   
   # Add & Commit
   aa = add --all
   cm = commit -m
   ca = commit --amend
   can = commit --amend --no-edit
   unstage = reset HEAD --
   
   # Branch & Merge
   ff = merge --ff-only
   pb = push -u origin HEAD
   gone = !git branch -vv | grep ': gone]' | awk '{print $1}'
   
   # Log
   last = log -1 HEAD
   lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
   lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
   
   # Info
   tags = tag -l
   branches = branch -a
   remotes = remote -v
   
   # Undo
   undo = reset --soft HEAD~1
   untrack = rm --cached

[branch]
   autosetuprebase = always
   sort = -committerdate

[fetch]
   prune = true
   pruneTags = true
   writeCommitGraph = true

[credential]
   helper = cache --timeout=3600

[rebase]
   autoStash = true
   autosquash = true
   updateRefs = true

[status]
   showUntrackedFiles = all
   submoduleSummary = true

[log]
   follow = true
   date = relative

[commit]
   verbose = true
   template = ~/.gitmessage

[help]
   autocorrect = prompt

[tag]
   sort = version:refname

[blame]
   coloring = highlightRecent

[protocol]
   version = 2

[feature]
   manyFiles = true

[gc]
   writeCommitGraph = true

[pack]
   threads = 0
   useSparse = true

[index]
   threads = true

[maintenance]
   auto = true
   strategy = incremental